@model Ropey_DvDs_Group_CW.Models.ViewModels.UserDetailsViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserDetails</title>
</head>
<body>

<div>
    <h4>UserDetailsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Token)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Token)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expiration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expiration)
        </dd>
    </dl>
</div>
</body>
</html>
