@model Ropey_DvDs_Group_CW.Models.LoanModel

@{
    ViewData["Title"] = "Delete";
}

<h4 class="text-center">Delete</h4>

<h3 class="text-center">Are you sure you want to delete this?</h3>
<div class="col-md-4 mx-auto card mt-3 p-5">
    <h4>LoanModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-7">
            @Html.DisplayNameFor(model => model.LoanTypeModel)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.LoanTypeModel.LoanTypeNumber)
        </dd>
        <dt class = "col-sm-7">
            @Html.DisplayNameFor(model => model.DVDCopyModel)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.DVDCopyModel.CopyNumber)
        </dd>
        <dt class = "col-sm-7">
            @Html.DisplayNameFor(model => model.MemberModel)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.MemberModel.MemberNumber)
        </dd>
        <dt class = "col-sm-7">
            @Html.DisplayNameFor(model => model.DateOut)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.DateOut)
        </dd>
        <dt class = "col-sm-7">
            @Html.DisplayNameFor(model => model.DateDue)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.DateDue)
        </dd>
        <dt class = "col-sm-7">
            @Html.DisplayNameFor(model => model.DateReturned)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.DateReturned)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LoanNumber" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        
    </form>
</div>
<a asp-action="Index">Back to List</a>