@model Ropey_DvDs_Group_CW.Models.LoanModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LoanModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanTypeModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanTypeModel.LoanTypeNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DVDCopyModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DVDCopyModel.CopyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberModel.MemberNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReturned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReturned)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LoanNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
