@model IEnumerable<Ropey_DvDs_Group_CW.Models.LoanModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Loan Type
            </th>
            <th>
                DVD Copy
            </th>
            <th>
                Member
            </th>
            <th>
               Date Out
            </th>
            <th>
               Date Due
            </th>
            <th>
               Returned Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoanTypeModel.LoanType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDCopyModel.CopyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberModel.MemberFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReturned)
            </td>
            <td>
                <a class="btn btn-primary-edit" asp-action="Edit" asp-route-id="@item.LoanNumber">Edit</a> |
                <a class="btn btn-primary-details" asp-action="Details" asp-route-id="@item.LoanNumber">Details</a> |
                <a class="btn btn-primary-delete" asp-action="Delete" asp-route-id="@item.LoanNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
