

@{
    ViewData["Title"] = "Payment";
}



<div class="col-md-6 mx-auto card mt-5 p-5">
    <h1>Payment</h1>
    <hr />
  
    <dl class="row">
        <dt class = "col-sm-6">
            Loan Number
        </dt>
        <dd class = "col-sm-6">
            @Model.LoanNumber
        </dd>
        <dt class = "col-sm-6">
            Copy Number
        </dt>
        <dd class = "col-sm-6">
            @Model.CopyNumber
        </dd>
        <dt class = "col-sm-6">
            DVD Title
        </dt>
        <dd class = "col-sm-6">
            @Model.DVDTitle
        </dd>
        <dt class = "col-sm-6">
            Date Out
        </dt>
        <dd class = "col-sm-6">
            @Model.DateOut.ToString("dd-MMMM-yyyy")
        </dd>
        <dt class = "col-sm-6">
            Date Due
        </dt>
        <dd class = "col-sm-6">
            @Model.DateDue.ToString("dd-MMMM-yyyy")
        </dd>
        <dt class = "col-sm-6">
            Date Returned
        </dt>
        <dd class = "col-sm-6">
            @Model.DateReturned.ToString("dd-MMMM-yyyy")
        </dd>
        <dt class = "col-sm-6">
            Member
        </dt>
        <dd class = "col-sm-6">
            @Model.Member
        </dd>
        <dt class = "col-sm-6">
            Membership Type
        </dt>
        <dd class = "col-sm-6">
            @Model.Membership
        </dd>
        <dt class = "col-sm-6">
            Loan Type
        </dt>
        <dd class = "col-sm-6">
            @Model.LoanType
        </dd>
        <dt class = "col-sm-6">
            Standard Charge (per Day @Model.StandardCharge)
        </dt>
        <dd class = "col-sm-6">
            @(Model.StandardCharge * Model.LoanDuration)
        </dd>
        @if (Model.DateReturned.Subtract(Model.DateOut).Days > Model.LoanDuration)
        {
            <dt class = "col-sm-6">
            Penalty Charge (per Day @Model.PenaltyCharge)
        </dt>
        <dd class = "col-sm-6">
            @((Model.DateReturned.Subtract(Model.DateOut).Days - Model.LoanDuration ) * Model.PenaltyCharge)
        </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="AdminDashboard">Back to Dashboard</a>
</div>
