

@{
    ViewData["Title"] = "Payment";
}

<h1>Payment</h1>

<div class="class="col-md-4 mx-auto card mt-5 pt-4 p-5"">
    <h4>LoanModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-7">
            Loan Number
        </dt>
        <dd class = "col-sm-5">
            @Model.LoanNumber
        </dd>
        <dt class = "col-sm-7">
            Copy Number
        </dt>
        <dd class = "col-sm-5">
            @Model.CopyNumber
        </dd>
        <dt class = "col-sm-7">
            DVD Title
        </dt>
        <dd class = "col-sm-5">
            @Model.DVDTitle
        </dd>
        <dt class = "col-sm-7">
            Date Out
        </dt>
        <dd class = "col-sm-5">
            @Model.DateOut.ToString("dd-MMMM-yyyy")
        </dd>
        <dt class = "col-sm-7">
            Date Due
        </dt>
        <dd class = "col-sm-5">
            @Model.DateDue.ToString("dd-MMMM-yyyy")
        </dd>
        <dt class = "col-sm-7">
            Date Returned
        </dt>
        <dd class = "col-sm-5">
            @Model.DateReturned.ToString("dd-MMMM-yyyy")
        </dd>
        <dt class = "col-sm-7">
            Member
        </dt>
        <dd class = "col-sm-5">
            @Model.Member
        </dd>
        <dt class = "col-sm-7">
            Membership Type
        </dt>
        <dd class = "col-sm-5">
            @Model.Membership
        </dd>
        <dt class = "col-sm-7">
            Loan Type
        </dt>
        <dd class = "col-sm-5">
            @Model.LoanType
        </dd>
        <dt class = "col-sm-7">
            Standard Charge (per Day @Model.StandardCharge)
        </dt>
        <dd class = "col-sm-5">
            @(Model.StandardCharge * Model.LoanDuration)
        </dd>
        @if (Model.DateReturned.Subtract(Model.DateOut).Days > Model.LoanDuration)
        {
            <dt class = "col-sm-2">
            Penalty Charge (per Day @Model.PenaltyCharge)
        </dt>
        <dd class = "col-sm-10">
            @((Model.DateReturned.Subtract(Model.DateOut).Days - Model.LoanDuration ) * Model.PenaltyCharge)
        </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="AdminDashboard">Back to Dashboard</a>
</div>
