@model Ropey_DvDs_Group_CW.Models.CastMemberModel

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-4 mx-auto card mt-5 p-5">
    <h4>CastMember Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-7">
            DVD Number
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.DVDTitleModel.DVDNumber)
        </dd>
        <dt class = "col-sm-7">
            DVD Title
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.DVDTitleModel.DVDTitle)
        </dd>
        <dt class = "col-sm-7">
            Actor Number
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.ActorModel.ActorNumber)
        </dd>
        <dt class = "col-sm-7">
            Actor Name
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.ActorModel.ActorFirstName) @Html.DisplayFor(model => model.ActorModel.ActorSurname)
        </dd>
    </dl>
    <a class="btn btn-primary-edit" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
