@*@model Ropey_DvDs_Group_CW.Models.MemberModel*@

@{
    ViewData["Title"] = "Details";
}

<h1>Member Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Member Name
        </dt>
        <dd class = "col-sm-10">
            @(ViewBag.Member.MemberFirstName + " " + ViewBag.Member.MemberLastName) 
        </dd>
        <dt class = "col-sm-2">
            Member DOB
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Member.MemberDateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            Member Address
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Member.MemberAddress)
        </dd>
        
    </dl>
    <hr />
    <h4>Loans Taken by this Member in the last 31 Days</h4>
    <table class="table">
    <thead>
        <tr>
            <th>
                Loan Number
            </th>
            <th>
                Copy Number
            </th>
            <th>
               DVD Title
            </th>
            <th>
               Date Out
            </th>
            <th>
               Date Returned
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model){
        <tr>
            <td>
                @item.Loan
            </td>
            <td>
                @item.CopyNumber
            </td>
            <td>
                @item.Title
            </td>   
            <td>
                @item.DateOut
            </td> 
            <td>
                @item.DateReturn
            </td> 
        </tr>
    }
    </tbody>
</table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
