@*@model IEnumerable<Ropey_DvDs_Group_CW.Models.MemberModel>*@
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Members Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<form asp-action="SleepingMembers">
    <button type="submit">Sleeping Members</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Address
            </th>
            
            <th>
                DOB
            </th>
            <th>
                Membership
            </th>
            <th>
                Total Loaned DvDs Currently
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.MemberFirstName
            </td>
            <td>
                @item.MemberLastName
            </td>
            <td>
                @item.MemberAddress
            </td>
            
            <td>
                @item.MemberDOB
            </td>
            <td>
                @item.Membership
            </td>
            <td>
                    @if (item.TotalAcceptLoans < item.TotalCurrentLoans)
                    {
                        <p>Too Many DVDs (@item.TotalCurrentLoans)</p>
                    }
                    else
                    {
                        @item.TotalCurrentLoans
                    }
                </td>
            <td>
                <a class="btn btn-primary-edit" asp-action="Edit" asp-route-id="@item.MemberNumber">Edit</a> |
                <a class="btn btn-primary-details" asp-action="Details" asp-route-id="@item.MemberNumber">Details</a> |
                <a class="btn btn-primary-delete" asp-action="Delete" asp-route-id="@item.MemberNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
