@model IEnumerable<Ropey_DvDs_Group_CW.Models.MemberModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.membershipCategoryModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberDateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.membershipCategoryModel.MembershipCategoryNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberDateOfBirth)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MemberNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MemberNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MemberNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
