@model Ropey_DvDs_Group_CW.Models.DVDTitleModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Delete</h1>

<h3 class="text-center">Are you sure you want to delete this?</h3>
<div class="col-md-4 mx-auto card mt-5 p-5">
    <h4>DVDTitleModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-7">
            @Html.DisplayNameFor(model => model.DVDCategoryModel)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.DVDCategoryModel.CategoryNumber)
        </dd>
        <dt class = "col-sm-7">
            @Html.DisplayNameFor(model => model.StudioModel)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.StudioModel.StudioNumber)
        </dd>
        <dt class = "col-sm-7">
            @Html.DisplayNameFor(model => model.ProducerModel)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.ProducerModel.ProducerNumber)
        </dd>
        <dt class = "col-sm-7">
            @Html.DisplayNameFor(model => model.DVDTitle)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.DVDTitle)
        </dd>
        <dt class = "col-sm-7">
            @Html.DisplayNameFor(model => model.DateReleased)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.DateReleased)
        </dd>
        <dt class = "col-sm-7">
            @Html.DisplayNameFor(model => model.StandardCharge)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.StandardCharge)
        </dd>
        <dt class = "col-sm-7">
            @Html.DisplayNameFor(model => model.PenaltyCharge)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.PenaltyCharge)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DVDNumber" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        
    </form>
</div>
<a asp-action="Index">Back to List</a>