@model Ropey_DvDs_Group_CW.Models.DVDTitleModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DVDTitleModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DVDCategoryModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DVDCategoryModel.CategoryNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudioModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudioModel.StudioNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProducerModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProducerModel.ProducerNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DVDTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DVDTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReleased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReleased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandardCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandardCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenaltyCharge)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DVDNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
