@model Ropey_DvDs_Group_CW.Models.DVDTitleModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>DVD Title Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           DVD Category
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DVDCategoryModel.CategoryDescription)
        </dd>
        <dt class = "col-sm-2">
           Studio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudioModel.StudioName)
        </dd>
        <dt class = "col-sm-2">
            Producer
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProducerModel.ProducerName)
        </dd>
        <dt class = "col-sm-2">
            DVD Title
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DVDTitle)
        </dd>
        <dt class = "col-sm-2">
            Released Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReleased)
        </dd>
        <dt class = "col-sm-2">
           Standard Charge
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandardCharge)
        </dd>
        <dt class = "col-sm-2">
            Penalty Charge
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenaltyCharge)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DVDNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
