@model Ropey_DvDs_Group_CW.Models.DVDTitleModel

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-4 mx-auto card mt-5 p-5">
    <h4 class="text-center">DVD Title Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-7">
           DVD Category
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.DVDCategoryModel.CategoryDescription)
        </dd>
        <dt class = "col-sm-7">
           Studio
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.StudioModel.StudioName)
        </dd>
        <dt class = "col-sm-7">
            Producer
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.ProducerModel.ProducerName)
        </dd>
        <dt class = "col-sm-7">
            DVD Title
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.DVDTitle)
        </dd>
        <dt class = "col-sm-7">
            Released Date
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.DateReleased)
        </dd>
        <dt class = "col-sm-7">
           Standard Charge
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.StandardCharge)
        </dd>
        <dt class = "col-sm-7">
            Penalty Charge
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.PenaltyCharge)
        </dd>
    </dl>
     <a class="btn btn-primary-edit"asp-action="Edit" asp-route-id="@Model?.DVDNumber">Edit</a>
</div>
<div>
   
    <a asp-action="Index">Back to List</a>
</div>
