@model IEnumerable<Ropey_DvDs_Group_CW.Models.DVDTitleModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                DVD Category
            </th>
            <th>
                Studio
            </th>
            <th>
                Producer
            </th>
            <th>
               DVD Title
            </th>
            <th>
                Released Date
            </th>
            <th>
                Standard Charge
            </th>
            <th>
                Penalty Charge
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DVDCategoryModel.CategoryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudioModel.StudioName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProducerModel.ProducerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReleased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyCharge)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DVDNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DVDNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DVDNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
