<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ropey_DvDs_Group_CW</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Ropey_DvDs_Group_CW.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src = "~/img/ropey.png"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav" style="position:absolute;left:180px">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="RegisterAdmin">Register Manager</a>
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Manager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Register">Register Assistant</a>
                            </li> 
                        }
           
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DVDs" asp-action="SelectActors">Actors DVDs</a>
                        </li>
                        
                        @if(User.Identity.IsAuthenticated){
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DVDs" asp-action="DVDDetailsIndex">DVD Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DVDs" asp-action="DVDsNotLoaned">Non loaned DVDs</a>
                            </li>
                        }
                       
                        
                    </ul>
                    <ul class="navbar-nav" style="position:absolute;right:30px">
                        @if(User.Identity.IsAuthenticated){
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AdminDashboard" asp-action="Index">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Profile">Profile</a>
                            </li>
                        }

                        @if(!User.Identity.IsAuthenticated){
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Login">Login</a>
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                           <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Logout">Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if(ViewBag.DangerAlert != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.DangerAlert
                </div>
            }
            @if(ViewBag.SuccessAlert != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessAlert
                </div>
            }
            @if(TempData["DangerAlert"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["DangerAlert"]
                </div>
            }
            @if(TempData["SuccessAlert"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessAlert"]
                </div>
            }
            @RenderBody()
        </main>
    </div>
    <!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 pt-3">
        <div class="mb-1 text-center">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src = "~/img/ropey.png"/>
                </a>
            <p class="text-white"> A store where you can rent your favourite DVDs </p>
 
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-white py-3">© 2022 Copyright: Ropey DVDs 
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
